<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
    th:replace="layouts/template :: userTemplate(#{ui.courses.delete.window.title}, _, ~{::#crumbs}, ~{::section}, _)">
<body>
    <ul id="crumbs">
        <li><a th:href="@{/courses}" th:text="#{ui.breadcrumb.courses}"></a></li>
        <li><a th:href="@{/courses(id=${course.cycle.id})}" th:text="${course.cycle.name}"></a></li>
        <li class="is-active"><a th:text="#{ui.breadcrumb.courses.delete}"></a></li>
    </ul>

    <section class="section">
        <div class="container">
            <div class="panel is-danger">
                <h1 class="panel-heading" th:text="#{ui.courses.delete.panel.heading(${course.name}, ${course.cycle.name})}"></h1>
                <div class="panel-block has-background-white">
                    <div class="container">
                        <form th:method="POST" th:action="@{/courses/{courseId}/delete(courseId=${course.id})}" th:object="${course}">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" th:for="*{cycle.name}" th:text="#{ui.courses.delete.form.cycle}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <input type="text" class="input" disabled readonly th:value="*{cycle.name}" />
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label th:for="*{name}" class="label" th:text="#{ui.courses.delete.form.course}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input type="text" class="input" disabled readonly th:value="*{name}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal"></div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <button type="submit" class="button is-danger" th:text="#{ui.common.actions.delete}"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>