<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" th:fragment="userTemplate(title, links, crumbs, concent, scripts)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">School Management</title>
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    <link rel="stylesheet" th:href="@{/icons/css/all.min.css}" />
    <th:block th:replace="${links}" />
</head>
<body>
    <div th:replace="fragments/header :: userHeader"></div>
    <nav th:replace="fragments/menus :: userNavbar"></nav>
    <nav th:replace="fragments/breadcrumb :: breadcrumb(${crumbs})"></nav>
    <th:blick th:replace="${concent}" />
    <footer th:replace="fragments/footer :: footer"></footer>
    <script th:src="@{/icons/js/all.min.js}"></script>
    <th:block th:replace="${scripts}" />
</body>
</html>