@charset "utf-8";

// customizations

$section-padding:  1.8rem 1.5rem;
$body-background-color:#eeeeee;
$dropdown-content-z: 50;
$footer-background-color: #F5F5F5;
$footer-padding: 3rem 1.5rem 6rem;

@import "../node_modules/bulma/bulma.sass";