<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="layouts/template :: userTemplate(#{ui.schedules.show.window.title}, _, ~{::#crumbs}, ~{::section}, _)">
<body>

    <ul id="crumbs">
        <li><a th:href="@{/courses}" th:text="#{ui.breadcrumb.courses}"></a></li>
        <li><a th:href="@{/courses(id=${course.cycle.id})}" th:text="${course.cycle.name}"></a></li>
        <li><a th:href="@{/courses/{courseId}(courseId=${course.id})}" th:text="${course.name}"></a></li>
        <li class="is-active"><a th:text="#{ui.breadcrumb.classSchedule}"></a></li>
    </ul>

    <section class="section">
        <div class="container">
            <div class="panel is-light">
                <h1 class="panel-heading" th:text="#{ui.schedules.show.panel.heading(${course.name}, ${course.cycle.name})}"></h1>
                <div class="panel-block has-background-white">
                    <div class="container">
                        <div class="columns">
                            <div class="column" th:if="${schedule.monday.size()} > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th th:text="#{ui.common.days.monday}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="sc : ${schedule.monday}">
                                            <td>
                                                <div class="box">
                                                    <span class="has-text-weight-bold" th:text="${sc.subject.name}"></span><br>
                                                    <span class="has-text-grey" th:text="${sc.startTime} + ' - ' + ${sc.endTime}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th th:text="#{ui.common.days.tuesday}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="sc : ${schedule.tuesday}">
                                            <td>
                                                <div class="box">
                                                    <span class="has-text-weight-bold" th:text="${sc.subject.name}"></span><br>
                                                    <span class="has-text-grey" th:text="${sc.startTime} + ' - ' + ${sc.endTime}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th th:text="#{ui.common.days.wednesday}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="sc : ${schedule.wednesday}">
                                            <td>
                                                <div class="box">
                                                    <span class="has-text-weight-bold" th:text="${sc.subject.name}"></span><br>
                                                    <span class="has-text-grey" th:text="${sc.startTime} + ' - ' + ${sc.endTime}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th th:text="#{ui.common.days.thursday}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="sc : ${schedule.thursday}">
                                            <td>
                                                <div class="box">
                                                    <span class="has-text-weight-bold" th:text="${sc.subject.name}"></span><br>
                                                    <span class="has-text-grey" th:text="${sc.startTime} + ' - ' + ${sc.endTime}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th th:text="#{ui.common.days.friday}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="sc : ${schedule.friday}">
                                            <td>
                                                <div class="box">
                                                    <span class="has-text-weight-bold" th:text="${sc.subject.name}"></span><br>
                                                    <span class="has-text-grey" th:text="${sc.startTime} + ' - ' + ${sc.endTime}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th th:text="#{ui.common.days.saturday}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="sc : ${schedule.saturday}">
                                            <td>
                                                <div class="box">
                                                    <span class="has-text-weight-bold" th:text="${sc.subject.name}"></span><br>
                                                    <span class="has-text-grey" th:text="${sc.startTime} + ' - ' + ${sc.endTime}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th th:text="#{ui.common.days.sunday}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="sc : ${schedule.sunday}">
                                            <td>
                                                <div class="box">
                                                    <span class="has-text-weight-bold" th:text="${sc.subject.name}"></span><br>
                                                    <span class="has-text-grey" th:text="${sc.startTime} + ' - ' + ${sc.endTime}"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>