<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
    th:replace="layouts/template :: userTemplate(#{ui.subjects.edit.window.title}, _, _, ~{::section}, _)">

<body>
    <section class="section">
        <div class="container">
            <div class="panel is-light">
                <h1 class="panel-heading" th:text="#{ui.subjects.edit.panel.heading}"></h1>
                <div class="panel-block has-background-white">
                    <div class="container">
                        <form th:method="POST" th:action="@{/subjects/{subjectId}/edit(subjectId=${subject.id})}" th:object="${subject}"
                            autocomplete="off">
                            <input type="hidden" th:field="*{id}" />
                            <input type="hidden" th:field="*{schedules}" />
                            <input type="hidden" th:field="*{course.id}" />
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" th:for="*{name}"
                                        th:text="#{ui.subjects.create.form.name}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input type="text" th:field="*{name}" th:class="input"
                                                th:errorclass="is-danger"
                                                th:placeholder="#{ui.subjects.create.form.name.placeholder}"
                                                autofocus />
                                            <span class="help is-danger" th:errors="*{name}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" th:for="*{classroom}"
                                        th:text="#{ui.subjects.create.form.classroom}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <div class="select">
                                                <select th:field="*{classroom.id}">
                                                    <option th:each="classroom : ${classrooms}"
                                                        th:value="${classroom.id}" th:text="${classroom.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" th:for="*{teacher}"
                                        th:text="#{ui.subjects.create.form.teacher}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <div class="select">
                                                <select th:field="*{teacher.id}">
                                                    <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                                                        th:text="${teacher.fullname}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal"></div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <button type="submit" class="button is-info"
                                                th:text="#{ui.common.button.save}"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>