<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <footer class="footer mt-4" th:fragment="footer">
        <div class="content has-text-centered">
            <p>
                <psan class="has-text-weight-bold">School Management</psan> by <a href="https://www.linkedin.com/in/rmirandasv/">Ronald Miranda</a>
                <br>
                <a href="https://github.com/rmirandasv/school-management"><span class="icon">
                    <img th:src="@{/img/github-logo.png}" />
                </span></a>
            </p>
        </div>
    </footer>
    
</body>
</html>