<!DOCTYPE html>
<body>

    <section th:fragment="userHeader" class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <span class="icon is-large has-text-info"><i class="fas fa-3x fa-graduation-cap"></i></span>
                        <hr><br>
                        <span>Nombre del Colegio</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>