<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="layouts/template :: userTemplate(#{ui.users.edit.window.title}, _, ~{::#crumbs}, ~{::section}, _)">

<body>
    <ul id="crumbs">
        <li><a th:href="@{/users}" th:text="#{ui.breadcrumb.users}"></a></li>
        <li class="is-active"><a href="#" th:text="#{ui.common.table.edit}"></a></li>
    </ul>

    <section class="section">
        <div class="container">
            <div class="panel is-light">
                <h1 class="panel-heading" th:text="#{ui.users.edit.panel.heading}"></h1>
                <div class="panel-block has-background-white">
                    <div class="container">
                        <form method="post" th:action="@{/users/{userId}/edit(userId=${user.id})}" autocomplete="off"
                            th:object="${user}">
                            <input type="hidden" readonly th:field="*{id}" />
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" th:text="#{ui.users.create.form.name}" for="name"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input type="text" class="input" th:field="*{name}" th:value="*{name}"
                                                th:errorclass="is-danger"
                                                th:placeholder="#{ui.users.create.form.name.placeholder}" autofocus />
                                            <span class="help is-danger" th:errors="*{name}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" th:text="#{ui.users.create.form.lastName}"
                                        for="lastName"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" type="text" th:field="*{lastName}"
                                                th:value="*{lastName}" th:errorclass="is-danger"
                                                th:placeholder="#{ui.users.create.form.lastName.placeholder}" />
                                            <span class="help is-danger" th:errors="*{lastName}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" for="birthday"
                                        th:text="#{ui.users.create.form.birthday}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input class="input" type="date" th:field="*{birthday}"
                                                th:value="*{birthday}" th:errorclass="is-danger">
                                            <span class="icon is-left"><i class="fas fa-calendar"></i></span>
                                            <span class="help is-danger" th:errors="*{birthday}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" th:for="*{username}"
                                        th:text="#{ui.users.create.form.username}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input type="text" class="input is-static" readonly
                                                th:field="*{username}"
                                                th:placeholder="#{ui.users.create.form.username.placeholder}" />
                                            <span class="icon is-left"><i class="fas fa-user"></i></span>
                                            <input type="hidden" th:field="*{password}" th:value="*{password}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label th:for="*{active}" class="label" th:text="#{ui.users.edit.form.active}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <div class="select">
                                                <select th:field="*{active}">
                                                    <option th:value="1" th:text="#{ui.users.edit.form.active}"></option>
                                                    <option th:value="0" th:text="#{ui.users.edit.form.disabled}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" th:for="*{email}" th:text="#{ui.users.create.form.email}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input type="email" class="input" th:field="*{email}" th:value="*{email}"
                                                th:placeholder="#{ui.users.create.email.placeholder}"
                                                th:errorclass="is-danger" />
                                            <span class="icon is-left"><i class="fas fa-envelope"></i></span>
                                            <span class="help is-danger" th:errors="*{email}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" for="roles" th:text="#{ui.users.create.form.roles}"></label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <div class="select is-multiple">
                                                <select multiple th:field="*{roleIds}">
                                                    <option th:each="role : ${roles}" th:value="${role.id}"
                                                        th:text="${role.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-info" th:text="#{ui.common.button.save}"
                                                type="submit"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>