<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="layouts/template :: userTemplate(#{ui.home.window.title}, _, ~{::#crumbs}, ~{::section}, _)">

<body>
    <ul id="crumbs">
        <li class="is-active">Inicio</li>
    </ul>
    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box notification is-primary">
                        <p class="title" th:text="#{ui.dashboard.students}"></p>
                        <p class="subtitle" th:text="#{ui.dashboard.students.total(${students})}"></p>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box notification is-link">
                        <p class="title" th:text="#{ui.dashboard.teachers}"></p>
                        <p class="subtitle" th:text="#{ui.dashboard.teachers.total(${teachers})}"></p>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box notification is-success">
                        <p class="title" th:text="#{ui.dashboard.classrooms}"></p>
                        <p class="subtitle" th:text="#{ui.dashboard.classrooms.total(${classrooms})}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>