<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="layouts/template :: userTemplate(#{ui.grades.register.window.title}, _, _, ~{::section}, _)">

<body>
    <section class="section">
        
        <div class="container is-fluid">
            <div class="notification is-success" th:if="${param.registered}">
                <a class="delete" th:href="@{/grades/{gradeId}(gradeId=${grade.id})}"></a>
                <span th:text="#{messages-scores.registered}"></span>
            </div>
            <div class="notification is-success" th:if="${param.updated}">
                <a class="delete" th:href="@{/grades/{gradeId}(gradeId=${grade.id})}"></a>
                <span th:text="#{messages-scores.updated}"></span>
            </div>
            <div class="panel is-light">
                <h1 class="panel-heading"
                    th:text="#{ui.grades.register.panel.heading(${grade.description}, ${grade.subject.name}, ${grade.subject.course.name}, ${grade.subject.course.cycle.name})}">
                </h1>
                <div class="panel-block has-background-white">
                    <div class="container">
                        <table class="table is-fullwidth">
                            <thead>
                                <th>#</th>
                                <th th:text="#{ui.grades.register.table.student}"></th>
                                <th th:text="#{ui.grades.register.table.grade}"></th>
                            </thead>
                            <tbody>
                                <tr th:each="score, stat : ${scorebook}">
                                    <td th:text="${stat.index}+1"></td>
                                    <td th:text="${score.student.fullname}"></td>
                                    <td>
                                        <a th:unless="${score.score}" th:href="@{/grades/{gradeId}/register(gradeId=${score.grade.id},sid=${score.student.id})}"
                                            th:text="#{ui.grades.register.table.register}"></a>
                                        <span th:if="${score.score}" class="has-text-weith-bold" th:text="${score.score}"></span>
                                        <a th:if="${score.score}" class="is-link is-light" th:href="@{/grades/{gradeId}/score/{scoreId}/edit(gradeId=${score.grade.id},scoreId=${score.id})}">
                                            <span class="icon">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </table>
                    </div>
                </div>
            </div>
    </section>

</body>

</html>